[defaults]
# Utilise votre fichier d'inventaire habituel
inventory = ./inventory.ini 

# Force Ansible à utiliser votre fichier de configuration SSH local (~/.ssh/config)
[ssh_connection]
ssh_args = -F /home/believer/.ssh/config
